{% extends "clinica/base.html" %}

{% block content %}
<h2>Novo Paciente</h2>

<form method="post">
    {% csrf_token %}
    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Telefone:</label>
    <input type="text" name="telefone" required>

    <label>Endereço:</label>
    <input type="text" name="endereco" required>

    <label>Data de Nascimento:</label>
    <input type="date" name="data_nascimento" required>

    <label>CPF:</label>
    <input type="text" name="cpf" required>

    <button type="submit">Salvar</button>
</form>
{% endblock %}
